In [1]:
import numpy as np
import pandas as pd 
import math

In [2]:
test_sum=pd.read_csv('Linear-Submission-19-20.csv')

In [3]:
test_sum

        year data_type  demand_point_index  supply_point_index  value
0       2019       SCS                 NaN                   0    5.0
1       2019       SCS                 NaN                   1    4.0
2       2019       SCS                 NaN                   2    6.0
3       2019       SCS                 NaN                   3    5.0
4       2019       SCS                 NaN                   4   11.0
...      ...       ...                 ...                 ...    ...
819595  2020        DS              4095.0                  95    0.0
819596  2020        DS              4095.0                  96    0.0
819597  2020        DS              4095.0                  97    0.0
819598  2020        DS              4095.0                  98    0.0
819599  2020        DS              4095.0                  99    0.0

[819600 rows x 5 columns]

In [4]:
test_sum.drop(test_sum.index[:200], inplace=True)
test_sum.drop(test_sum.index[409600:], inplace=True)

In [5]:
test_sum

        year data_type  demand_point_index  supply_point_index  value
200     2019        DS                 0.0                   0    0.0
201     2019        DS                 0.0                   1    0.0
202     2019        DS                 0.0                   2    0.0
203     2019        DS                 0.0                   3    0.0
204     2019        DS                 0.0                   4    0.0
...      ...       ...                 ...                 ...    ...
409795  2019        DS              4095.0                  95    0.0
409796  2019        DS              4095.0                  96    0.0
409797  2019        DS              4095.0                  97    0.0
409798  2019        DS              4095.0                  98    0.0
409799  2019        DS              4095.0                  99    0.0

[409600 rows x 5 columns]

In [6]:
df=test_sum[['demand_point_index','supply_point_index','value']]

In [7]:
value=np.array(df['value'])

In [8]:
mat=np.zeros((4096,100))
s=0
for i in range(4096):
    for j in range(100):
        mat[i][j]=value[s]
        s+=1
matf=pd.DataFrame(mat)

In [9]:
matf

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4091,0.0,0.0,6.540436,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4092,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4093,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4094,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4095,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
check_lst=[]
for i in range(100):
    check_lst.append(sum(matf[i]))

In [19]:
check_lst

[7799.999976000001,
 3599.9999990000006,
 3010.2474760000014,
 2999.999997,
 565.443587,
 703.1720799999998,
 5000.000010999999,
 3599.9999700000003,
 2199.9999980000002,
 4399.9999880000005,
 4399.999982,
 3400.0000019999998,
 7800.000009,
 3799.999978,
 5600.000004000001,
 7400.000011000001,
 1600.000003,
 1999.999992,
 6199.999984,
 3185.334314,
 4158.35022,
 5199.999995,
 2599.9999909999997,
 1301.1786130000005,
 2509.7987160000007,
 3856.4001000000003,
 6599.999970000002,
 3200.0000150000005,
 4600.000007,
 5600.000004000001,
 3000.000009,
 3893.1759980000006,
 3170.1190250000004,
 3999.999996,
 6599.999994999998,
 3200.000005,
 3921.628306999999,
 4399.999981999999,
 2522.210869,
 3600.0000199999995,
 3453.2785599999993,
 2200.0,
 3799.9999709999997,
 5155.084510000001,
 2600.00001,
 3800.0000100000007,
 3800.0000199999995,
 1400.000007,
 5400.000024,
 5527.360180000001,
 10600.000019,
 954.141049,
 1254.3416419999999,
 5259.522353000002,
 4452.866346,
 898.7687029999998,
 2897.627205,
 1136.8550429999998,
 716.927171,
 2600.0000049999994,
 1600.000002,
 80.76871400000002,
 1800.7848809999998,
 3177.6096280000006,
 7399.999992999997,
 9199.999992000001,
 5200.000002999999,
 6800.00001,
 4799.999995,
 10999.999963000002,
 3452.5032800000004,
 4425.775073,
 2399.999996,
 2599.9999929999994,
 3799.9999989999997,
 4390.9214900000015,
 3200.0000119999995,
 2834.645556,
 5399.999993999999,
 3800.0000100000007,
 4138.77279,
 9800.000009,
 3999.9999869999997,
 3799.999997,
 1557.9696759999997,
 4599.999978999999,
 4000.0000089999994,
 2999.999992000001,
 3599.999999,
 4600.000003,
 8200.000002,
 5400.00001,
 6400.000017000003,
 4000.0000080000004,
 5000.0,
 4200.000024000001,
 9400.000001999997,
 10800.000008,
 3399.9999910000006,
 4800.000009999999]

In [21]:
check_lst=pd.DataFrame(check_lst)
check_lst.to_csv('check_lst.csv')